@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #121112;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

img {
  display: block;
  width: 100%;
}

h2 {
  font-size: 32px;
}

/* nav */

nav {
  display: flex;
  padding-block: 15px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  margin-left: 8rem;
}

/* hero */

#hero {
  margin-top: 3.5rem;
  background-color: #121112;
  color: #fff;
  text-align: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
}

.banner-title {
  font-family: "Source Serif 4", serif;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
}

.banner-subtitle {
  margin-block: 1.5rem;
  font-size: 20px;
  font-weight: 200;
}

.details {
  padding: 10px 15px;
  background-color: #343434;
  border-radius: 32px;
}
.details .date {
  font-size: 15px;
}

.yellow-icon {
  color: #fad133;
  margin-inline: 10px;
}

.hero-buttons {
  display: flex;
  margin-top: 1.5rem;
  padding: 1rem;
  gap: 0.4rem;
}

.btn {
  position: relative;
  padding: 15px 30px;
  outline: none;
  border: none;
  color: #121112;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
}

.btn-register {
  background-image: linear-gradient(to right, #f69b26 25%, #f7bd01 100%);
}

.btn .btn-icon {
  margin-left: 5px;
  display: inline-block;
  position: relative;
  transition: left 0.3s ease;
}

.btn:hover .btn-icon {
  left: 5px;
}

/* about */

#about {
  display: flex;
  padding-inline: 5rem;
}

.abt-content {
  padding: 3rem 0;
  width: 50%;
}

.abt-content h2 {
  margin-bottom: 2rem;
  font-family: "Source Serif 4", serif;
}

.abt-content span {
  color: #f69b26;
}

.para h3 {
  margin-block: 1rem;
  font-family: "Source Serif 4", serif;
}

.collage {
  width: 50%;
  display: flex;
}

/* committees */

#committees {
  background-color: #121112;
  color: #fff;
  padding: 3rem 6rem;
}

.committe-container {
  max-width: 100%;
  width: 100%;
  margin: auto;
}

.committe-container h2 {
  margin-bottom: 2rem;
  font-family: "Source Serif 4", serif;
}

.committee-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

  width: 100%;
  gap: 15px;
}

.card {
  display: inline-block;
  padding: 1rem;
  border: 2px solid #343434;
  width: auto;
  border-radius: 8px;
  transition: all 0.3s;
}

.card:hover {
  border: 2px solid #f7bd01;
  background-color: #1a1a1a;
}

.card:hover h3 {
  color: #f7bd01;
}

.card h3 {
  margin-bottom: 1rem;
  font-family: "Source Serif 4", serif;
}

.card p {
  font-size: 10px;
  color: #f1f1f1;
}

/* agenda */

#agenda {
  background-color: #fefcf5;
  padding: 3rem 6rem;
}

.agenda-container {
  min-width: 473px;
  max-width: 100%;
  width: 100%;
  margin: auto;
}

.agenda-heading {
  display: flex;
  justify-content: space-between;
}

.btn-tab {
  outline: none;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  background-color: #fff0dc;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn-tab:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.active {
  background-color: #f69b26;
}

.agenda-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  /* max-width: 1280px; */
  margin: 0 auto;
}

.agenda-card {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  border: 2px solid #ffe8ca;
  border-radius: 6px;
  background-color: #fff;
}

.card-icon {
  align-self: center;
}

.icon-span {
  background-color: #f7bd01;
  height: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.icon-span i {
  position: relative;
  left: 10px;
}

.agenda-title h2 {
  font-family: "Source Serif 4", serif;
  margin-bottom: 2rem;
}

.agenda-title span {
  color: #f69b26;
}

.card-data h3 {
  font-size: 16px;
}

.card-data p {
  font-size: 14px;
}

/* logistics */

#logistics {
  background-color: #121112;
  color: #fff;
}

.logistics-container {
  display: flex;
  padding-inline: 6rem;
}

.logistics-content {
  width: 50%;
  padding-block: 4rem;
}

.logistics-title {
  font-family: "Source Serif 4", serif;
  margin-bottom: 2rem;
}

.logistics-title span {
  color: #f69b26;
}

.fees-card {
  display: inline-block;
  padding: 15px;
  border: 2px solid #343434;
  border-radius: 8px;
}

.fees-card p {
  margin-bottom: 1rem;
}

.delegate {
  font-family: "Source Serif 4", serif;
}

.price {
  font-size: 22px;
  font-weight: 700;
}

.terms {
  margin-top: 2rem;
}

.terms p {
  font-family: "Source Serif 4", serif;
  margin-bottom: 1rem;
}

.terms li {
  margin-bottom: 1rem;
  /* display: inline-block; */
}

.li-span {
  background-color: #343434;
  height: 25px;
  width: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.li-span i {
  color: #f69b26;
}

.yellow {
  color: #f69b26;
}

.logistics-image {
  width: 50%;
  display: flex;
  align-items: center;
}

.logistics-image img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

/* gallery */

#gallery {
  color: #121112;
}

.gallery-container {
  padding: 3rem 6rem;
}

.gallery-container h2 {
  margin-bottom: 2rem;
  font-family: "Source Serif 4", serif;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid lime;
  align-items: center;
  gap: 16px;
  max-width: 100%;
  margin: 0 auto;
}

.gallery-images img {
  border: 2px solid #dddddd;
  border-radius: 8px;
  width: 100%;
  max-width: 380px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 380px;
}

/* footer  */

footer {
  width: 100%;
  background-color: #121112;
  color: #fff;
  padding: 3rem 6rem;
}

.footer-container {
  max-width: 100%;
  width: 100%;
  margin: auto;
}

footer p {
  font-size: 10px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-title img {
  width: auto;
}

.footer-left-content {
  width: 50%;
}

.footer-address p {
  margin-top: 1rem;
}

.footer-right-content {
  width: 50%;
  display: flex;
  gap: 25px;
}

.footer-bottom {
  margin-top: 1.2rem;
  display: flex !important;
  justify-content: space-between;
  border-top: 1px solid #343434;
  padding: 15px 0px;
}

.footer-bottom {
  font-size: 10px;
}

.footer-col-2 ul {
  display: flex;
}

.footer-col-2 ul li a {
  padding-inline: 10px;
  border-right: 1px solid #fff;
  line-height: 14px;
}

.footer-col-2 ul li a:hover {
  color: #f7bd01;
}

.footer-col-2 ul li:last-child a {
  border: none;
}

.footer-right-content ul li {
  margin-block: 1rem;
  width: 100%;
  font-size: 10px;
}

.footer-right-content ul li a:hover {
  color: #f7bd01;
}

.footer-col-3 ul {
  display: flex;
}

.footer-col-3 ul li a {
  margin-inline: 5px;
  transition: all 0.2s;
  font-size: 16px;
}

.footer-col-3 ul li a:hover {
  color: #f7bd01;
}

/* meadia queries */

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 767px) {
  .logo {
    margin-left: 4rem;
  }

  .hero-container {
    padding-block: 3rem;
  }
  .banner-title {
    font-size: 3.5rem;
  }

  .banner-subtitle {
    font-size: 18px;
  }

  #about {
    flex-direction: column;
    padding-inline: 3rem;
  }

  .abt-content {
    width: auto;
  }

  #committees {
    padding: 3rem 4rem;
  }

  #agenda {
    padding: 3rem 4rem;
  }

  .logistics-container {
    flex-direction: column;
    padding-inline: 3rem;
  }

  .logistics-content {
    width: auto;
    padding-block: 3rem;
  }

  .logistics-image {
    width: auto;
  }

  .gallery-container {
    padding: 3rem 4rem;
  }

  footer {
    padding: 3rem 4rem 0;
  }

  .footer-top {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer-left-content {
    width: 100%;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-bottom div {
    margin-bottom: 10px;
  }

  .footer-right-content {
    width: 100%;
  }

  .footer-right-content ul {
    margin-top: 1.2rem;
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .footer-right-content ul li {
    width: 100%;
    margin-block: 0.5rem;
  }

  .footer-col-2 ul {
    flex-direction: row;
  }

  .footer-col-2 ul li:first-child a {
    padding-left: 0;
  }
}

@media only screen and (max-width: 576px) {
  .logo {
    margin-left: 2rem;
  }

  .banner-title {
    font-size: 3rem;
  }

  .banner-subtitle {
    font-size: 16px;
  }

  .hero-buttons {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .btn {
    width: 100%;
  }

  .agenda-heading {
    flex-direction: column;
  }

  .agenda-title h2 {
    margin-bottom: 5px;
  }

  .agenda-tabs {
    text-align: center;
    margin-bottom: 1rem;
  }

  footer {
    padding: 2rem 2rem 0;
  }
}
